<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-android-disable-aapt2"
        version="1.0.0">

    <platform name="android">
        <hook type="before_compile" src="updateGradleProperties.js" />
        <hook type="after_platform_add" src="updateGradleProperties.js" />
    </platform>

</plugin>
